.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#search {
  display:inline-block;
}

.search-bar {
  font-size: 20px;
  height: 60px;
  padding: 0 30px;
  background: none;
  position: relative;
  z-index: 2;
  width: 796px;
  float: left;
  display:inline-block;
}

.search-gradient {
  width: 63px;
  height: auto;
  padding: 0 0 0 0;
  display:inline-block;
}
